.friendsList {
  width: max-content;
  display: flex;
  gap: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.friendItem {
  text-align: center;
  border: 3px solid #1c1919de;
  border-radius: 8px;
  padding: 12px;
}

.friendImg {
  margin-bottom: 8px;
}

.friendName {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.friendStatus {
  font-size: 14px;
  font-weight: 400;
}

.friendStatus.online {
  color: #09811fde;
}

.friendStatus.offline {
  color: #dd0d0dde;
}